langchain==0.3.7
langchain-openai==0.2.9
psycopg
pydantic
python-dotenv==1.0.1
fastapi
uvicorn
neo4j
azure-storage-blob
azure.ai.formrecognizer
python-multipart
# lightrag-hku==1.2.3
psycopg[binary,pool]
pipmaster
bcrypt
pyjwt
azure.ai.documentintelligence 
# azure.core.credentials
pymupdf
pdfplumber
bcrypt
httptools
azure.cognitiveservices.speech








